body {
    padding: 30px;
}

h1 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 50px;
}

.sub-title{
    font-size: 1.9rem;
    text-align: center;
}

.companyName {
    font-size: 1.4rem;
    font-weight: bold;

}

.jobName {
    font-size: 1.2rem;
    font-weight: bold;

}


table
{
    min-width: 80%;
    border-collapse: collapse;
    margin-bottom: 50px;
}
table thead th{
    text-align: center;
}

table thead th,td{
    border: 2px solid black;
    padding: 7px 10px;
    text-align: center;
}