.admin-forget {
    width: 320px;
    height: auto;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.logo {
    width: 120px;
    height: auto;
    position: absolute;
    top: 25px;
    margin-right: 40%;
    margin-left: 1%;
}

.lock {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: calc(50% - 50px);
}

.admin-forget h1 {
    margin-top: 5px;
    padding-top: 25px;

    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.admin-forget p {
    margin: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 15px;
    text-align: left;
    font-weight: bold;
}

.admin-forget input[type="password"] {

    width: 100%;
    margin-bottom: 15px;
}

.admin-forget input[type="text"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
}

.otp {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    background: transparent;
    /* border-bottom-style: dashed; */
}

.admin-forget input[type="submit"] {
    border: none;
    outline: none;
    width: 35%;
    height: 35px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 12px;
    position: absolute;
    bottom: 10px;
    left: 110px;
}

.admin-forget input[type="submit"]:hover {
    cursor: pointer;
    background: #d5afd2;
    color: #000;
}

.input2 {
    width: 100%;
    padding-top: 17px;
    font-size: 10px;
    display: flex;
    /* background-color: lightcoral; */
}

.input2 a {
    margin-left: -5px;
}

#otp {
    float: right;
    text-align: left;
    margin-left: 110px;
    /* text-decoration: none; */
}

a:link {
    color: #fff;
}

a:visited {
    color: #d5afd2;
}

a:hover {
    color: azure;
}

.showpassword {
    width: 100%;
}